/*
 * Copyright 2023 NXP
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/spi/spi.h>

&pinctrl {
	spi1_default: spi1_default {
		group0 {
			pinmux = <SPI1_PCS0_PTD4>,
				<SPI1_SCK_PTD5>,
				<SPI1_SIN_PTD7>,
				<SPI1_SOUT_PTD6>;
			drive-strength = "low";
			slew-rate = "fast";
		};
	};
};

&spi1 {
	status = "okay";
	pinctrl-0 = <&spi1_default>;
	pinctrl-names = "default";

	fxls8961af: accelerometer@0 {
		status = "okay";
		compatible = "nxp,fxls8961af";
		reg = <0>;
		spi-max-frequency = <4000000>;
		duplex = <SPI_FULL_DUPLEX>;
	};
};
